* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: #fff;
}

.container {
    width: 70%;
    margin: 30px auto;
    border: 3px solid #000;
    
}

/* ---- HEADER ---- */
header {
    background: #f8a7a7;
    padding: 25px;
    border: 3px solid #c06b6b;
}

/* ---- NAV ---- */
nav {
   
    background: #9cd4f2;
    padding: 25px;
    border: 3px solid #2c82b3;
}

/* ---- SECTION ---- */
.main {
    display: flex;
    justify-content: space-between;
    
    background: #d1e7c6;
    padding: 15px;
    border: 3px solid #0a680a;
}

/* LEFT SIDE (Heading + Article) */
.left {
    flex: 2;
    margin-right: 15px;
}

.left h3 {
    background: #f1baba;
    padding: 15px;
    border: 3px solid #a55959;
    border-radius: 5px;
}
.left h2{
    font-size: 20px;
}

article {
    margin-top: 10px;
    background: #d8c4ee;
    padding: 60px;
    border: 3px solid #6e4f8a;
}

/* ---- ASIDE ---- */
aside {
  
    background: #d2d2d2;
    padding: 65px;
    border: 3px solid #505050;
}

/* ---- FOOTER ---- */
footer {
   
    background: #f1b980;
    padding: 30px;
    border: 3px solid #b67336;
}
